.photo-grid {
  margin: 0 auto;
  max-width: 880px;
}
@media (min-width: 620px) and (max-width: 930px) {
  .photo-grid {
    max-width: 620px;
  }
}
@media (min-width: 320px) and (max-width: 619px) {
  .photo-grid {
    max-width: 320px;
  }
}
