.popup__title {
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 34px 0px 15px 36px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 0px 40px 22px;
  }
}
