.user__add-button {
  height: 50px;
  width: 150px;
  border: 2px white solid;
  background-color:transparent;
  background-image: url("../../../images/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  cursor: pointer;
  transition: all 1s ease-out;
  border-radius: 2px;
}
.user__add-button:hover {
  opacity: 0.6;
}
@media (min-width: 320px) and (max-width: 767px) {
  .user__add-button {
    margin-top: 30px;
    width: 282px;
    background-size: 16px 16px;
  }
}
