.user__status {
  margin: 16px 0 0 0;
  font-size: 18px;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .user__status {
    font-size: 14px;
    margin-top: 14px;
    text-align: center;
  }
}
