.photo-grid__like-button {
  min-width: 22px;
  height: 19px;
  background-image: url("../../../images/Like.svg");
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.3s ease-out, background-image 0.3s ease-out;
}
.photo-grid__like-button:hover {
  opacity: 0.5;
}
