.popup__input_error-text-visible {
  visibility: visible;
  color: #ff0000;
  font-family: Inter;
  font-style: regular;
  font-size: 12px;
  line-height: 15px;
  max-width: 75vw;
  width: 358px;
  height: 0;
  margin: 5px auto 0;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .popup__input_error-text-visible {
    font-size: 12px;
    line-height: 15px;
    max-width: 62.5vw;
  }
}